/*
GLOBAL
*/
.heading-site {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	top-margin: 50px;
}

/*
Header
*/
.header {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 70px;	
	line-height: 70px;
	background-color: #000000;
	position: fixed;
	top: 0;
}

.header .header-logo {
	color: #FFB404;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 30px;
}

.header .header-menu{
	float: right;
	margin-right: 30px;
}

.header .header-menu a {
	margin-right: 15px;
	color: #FFB404;
}

.header .header-menu a:hover {
	color: #d35400;
}

/*
Banner
*/

.banner {
	margin-top: 10px;
}

.banner .banner-image {
	position: relaive;
}

.banner .banner-content {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 30%;
}

.banner .banner-content h1{
	color: #FFB404;
}

/*
Découvrez nous
*/
.about .about-single-element {
	text-align: center;
	margin-top: 30px;
}

.about .about-single-element .icon {
	font-size: 60px;
	text-align: center;
}

.about .about-single-element p {
	text-align: left;
	margin-top: 20px;
}

/*
FOOTER
*/
.footer .footer-informations {
	text-align: center;
	margin-top: 30px;
}

.footer .footer-informations ul {
	padding: O;
}

.footer .footer-informations ul li {
	display: inline-block;
	list-style-type: none;
}


/*
Pub mon petit placement 
*/

.mpp .mpp-image {
	margin-left:80px;
} 

/*
projets
*/

.projets .projet1 {
	text-align:center;
	font-family: 'Montserrat', sans-serif;
}
